.body {
    position: fixed;
    top: 0;
    left: 44%;
    bottom: 0;
    width: 56%;
    display: flex;
    flex-direction: column;
    text-align: center;
}



.body h1 {
    background: bisque;
}

.body h4 {
    padding: 0% 5%;
    overflow-wrap: break-word;
}

.body h4:nth-child(even) {
    background: #dddddd;
}