.body {
    position: fixed;
    top: 10%;
    left: 40%;
    bottom: 0;
    width: 56%;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-y: scroll;
}

.body::-webkit-scrollbar { 
    display: none; 
}

.body h1 {
    text-align: center;
}

.body h4 {
    padding: 0% 5%;
    overflow-wrap: break-word;
}