.footer {
    position: relative;
    left: 30%;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background: black;
}

.footer button {
    height: 100%;
    width: 10%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.footer button:hover {
    background: #2EA9E1;
}