.nav2 {
    background: #444444;
    position: fixed;
    top: 0;
    left: 22%;
    bottom: 0;
    width: 22%;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: scroll;
}

.nav2::-webkit-scrollbar { 
    display: none; 
}

.nav2 input {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;;
    font-size: 15px;
    font-weight: bold;
}

.nav2 button {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.nav2 button:hover {
    background: #2EA9E1;
}